# Copyright (C) 2012 The Android Open Source Project
#
# USB configuration common for all android devices
#

on post-fs-data
    mkdir /data/misc/adb 02750 system shell
    mkdir /data/adb 0700 root root

on post-fs-data && property:sys.usb.configfs=0
    chown system system /sys/class/android_usb/f_mass_storage/suitestate
    chmod 0660 /sys/class/android_usb/f_mass_storage/suitestate
    chown system system /sys/class/android_usb/android0/f_mass_storage/lun/file
    chmod 0660 /sys/class/android_usb/android0/f_mass_storage/lun/file
    chown system system /sys/class/android_usb/android0/f_rndis/ethaddr
    chmod 0660 /sys/class/android_usb/android0/f_rndis/ethaddr
    mkdir /data/misc/adb 02750 system shell
    mkdir /data/adb 0700 root root
    chown system system /sys/class/android_usb/android0/switch_request
    chmod 0664 /sys/class/android_usb/android0/switch_request
    chown system system /sys/class/usbswitch/usbsw/swstate
    write /sys/class/android_usb/android0/iManufacturer ${ro.product.manufacturer}
    write /sys/class/android_usb/android0/iProduct ${ro.product.model}
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}

# adbd is controlled via property triggers in init.<platform>.usb.rc
service adbd /system/bin/adbd --root_seclabel=u:r:su:s0
    class core
    socket adbd seqpacket 660 system system
    disabled
    seclabel u:r:adbd:s0

# adbd on at boot in emulator
on property:ro.kernel.qemu=1
    start adbd

# Used to disable USB when switching states
on property:sys.usb.config=none && property:sys.usb.configfs=0
    stop hw_cdma_service
    stop adbd
    stop hdbd
    setprop sys.usb.start_modempcui 0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/devices/virtual/android_usb/android0/port_mode 1
    setprop sys.usb.state ${sys.usb.config}

# adb only USB configuration
# This is the fallback configuration if the
# USB manager fails to set a standard configuration
on property:sys.usb.config=adb && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18d1
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 103A
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/devices/virtual/android_usb/android0/port_mode 2
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}
    write /sys/class/android_usb/android0/idProduct 4EE7
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}
on property:sys.usb.config=mtp && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 107e
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/devices/virtual/android_usb/android0/port_mode 3
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,hdb && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 107e
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/devices/virtual/android_usb/android0/port_mode 25
    write /sys/class/android_usb/android0/enable 1
    start hdbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,adb && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 107e
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/devices/virtual/android_usb/android0/port_mode 4
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,adb,hdb && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 107e
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/devices/virtual/android_usb/android0/port_mode 26
    write /sys/class/android_usb/android0/enable 1
    start adbd
    start hdbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 108a
    write /sys/class/android_usb/android0/f_rndis/wceis  1
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/devices/virtual/android_usb/android0/port_mode 9
    write /sys/class/android_usb/android0/enable 1
    write /sys/class/net/rndis0/queues/rx-0/rps_cpus f
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis,hdb && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 108a
    write /sys/class/android_usb/android0/f_rndis/wceis  1
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/devices/virtual/android_usb/android0/port_mode 27
    write /sys/class/android_usb/android0/enable 1
    start hdbd
    write /sys/class/net/rndis0/queues/rx-0/rps_cpus f
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis,adb && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 108a
    write /sys/class/android_usb/android0/f_rndis/wceis  1
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/devices/virtual/android_usb/android0/port_mode 10
    write /sys/class/android_usb/android0/enable 1
    start adbd
    write /sys/class/net/rndis0/queues/rx-0/rps_cpus f
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis,adb,hdb && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 108a
    write /sys/class/android_usb/android0/f_rndis/wceis  1
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/devices/virtual/android_usb/android0/port_mode 28
    write /sys/class/android_usb/android0/enable 1
    start adbd
    start hdbd
    write /sys/class/net/rndis0/queues/rx-0/rps_cpus f
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis,serial && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 107e
    write /sys/class/android_usb/android0/f_rndis/wceis  1
    write /sys/class/android_usb/android0/f_hw_acm/hw_instances 3
    write /sys/class/android_usb/android0/functions rndis,hw_acm
    write /sys/devices/virtual/android_usb/android0/port_mode 36
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.start_atdiag 1
    write /sys/class/net/rndis0/queues/rx-0/rps_cpus f
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis,serial,adb && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 107e
    write /sys/class/android_usb/android0/f_rndis/wceis  1
    write /sys/class/android_usb/android0/f_hw_acm/hw_instances 3
    write /sys/class/android_usb/android0/functions rndis,adb,hw_acm
    write /sys/devices/virtual/android_usb/android0/port_mode 37
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.start_atdiag 1
    write /sys/class/net/rndis0/queues/rx-0/rps_cpus f
    setprop sys.usb.state ${sys.usb.config}


on property:sys.usb.config=ptp && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 107e
    write /sys/class/android_usb/f_mass_storage/luns cdrom
    write /sys/class/android_usb/f_mass_storage/lun/file ${ro.cust.cdrom}
    write /sys/class/android_usb/android0/functions ptp,mass_storage
    write /sys/devices/virtual/android_usb/android0/port_mode 5
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=ptp,hdb && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 107e
    write /sys/class/android_usb/f_mass_storage/luns cdrom
    write /sys/class/android_usb/f_mass_storage/lun/file ${ro.cust.cdrom}
    write /sys/class/android_usb/android0/functions ptp,mass_storage,hdb
    write /sys/devices/virtual/android_usb/android0/port_mode 29
    write /sys/class/android_usb/android0/enable 1
    start hdbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=ptp,adb && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 107e
    write /sys/class/android_usb/f_mass_storage/luns cdrom
    write /sys/class/android_usb/f_mass_storage/lun/file ${ro.cust.cdrom}
    write /sys/class/android_usb/android0/functions ptp,mass_storage,adb
    write /sys/devices/virtual/android_usb/android0/port_mode 6
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=ptp,adb,hdb && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 107e
    write /sys/class/android_usb/f_mass_storage/luns cdrom
    write /sys/class/android_usb/f_mass_storage/lun/file ${ro.cust.cdrom}
    write /sys/class/android_usb/android0/functions ptp,mass_storage,adb,hdb
    write /sys/devices/virtual/android_usb/android0/port_mode 30
    write /sys/class/android_usb/android0/enable 1
    start adbd
    start hdbd
    setprop sys.usb.state ${sys.usb.config}

# USB accessory configuration
on property:sys.usb.config=accessory && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18d1
    write /sys/class/android_usb/android0/idProduct 2d00
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/devices/virtual/android_usb/android0/port_mode 11
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# USB accessory configuration, with adb
on property:sys.usb.config=accessory,adb && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18d1
    write /sys/class/android_usb/android0/idProduct 2d01
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/devices/virtual/android_usb/android0/port_mode 12
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mass_storage && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 107e
    write /sys/class/android_usb/f_mass_storage/luns sdcard
    write /sys/class/android_usb/f_mass_storage/lun/file none
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/devices/virtual/android_usb/android0/port_mode 7
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mass_storage,adb && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 107e
    write /sys/class/android_usb/f_mass_storage/luns sdcard
    write /sys/class/android_usb/f_mass_storage/lun/file none
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/devices/virtual/android_usb/android0/port_mode 8
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mass_storage,hdb && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 107e
    write /sys/class/android_usb/f_mass_storage/luns sdcard
    write /sys/class/android_usb/f_mass_storage/lun/file none
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/devices/virtual/android_usb/android0/port_mode 31
    write /sys/class/android_usb/android0/enable 1
    start hdbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mass_storage,adb,hdb && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 107e
    write /sys/class/android_usb/f_mass_storage/luns sdcard
    write /sys/class/android_usb/f_mass_storage/lun/file none
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/devices/virtual/android_usb/android0/port_mode 32
    write /sys/class/android_usb/android0/enable 1
    start adbd
    start hdbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=hisuite,mtp,mass_storage && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 107e
    write /sys/class/android_usb/f_mass_storage/luns cdrom
    write /sys/class/android_usb/f_mass_storage/lun/file ${ro.cust.cdrom}
    write /sys/class/android_usb/android0/functions mtp,mass_storage
    write /sys/devices/virtual/android_usb/android0/port_mode 35
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=hisuite,mtp,mass_storage,adb && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 107e
    write /sys/class/android_usb/f_mass_storage/luns cdrom
    write /sys/class/android_usb/f_mass_storage/lun/file ${ro.cust.cdrom}
    write /sys/class/android_usb/android0/functions mtp,mass_storage,adb
    write /sys/devices/virtual/android_usb/android0/port_mode 15
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=hisuite,mtp,mass_storage,hdb && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 107e
    write /sys/class/android_usb/f_mass_storage/luns cdrom
    write /sys/class/android_usb/f_mass_storage/lun/file ${ro.cust.cdrom}
    write /sys/class/android_usb/android0/functions mtp,mass_storage,hdb
    write /sys/devices/virtual/android_usb/android0/port_mode 33
    write /sys/class/android_usb/android0/enable 1
    start hdbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=hisuite,mtp,mass_storage,adb,hdb && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 107e
    write /sys/class/android_usb/f_mass_storage/luns cdrom
    write /sys/class/android_usb/f_mass_storage/lun/file ${ro.cust.cdrom}
    write /sys/class/android_usb/android0/functions mtp,mass_storage,adb,hdb
    write /sys/devices/virtual/android_usb/android0/port_mode 34
    write /sys/class/android_usb/android0/enable 1
    start adbd
    start hdbd
    setprop sys.usb.state ${sys.usb.config}

# audio accessory configuration
on property:sys.usb.config=audio_source && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18d1
    write /sys/class/android_usb/android0/idProduct 2d02
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/devices/virtual/android_usb/android0/port_mode 21
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# audio accessory configuration, with adb
on property:sys.usb.config=audio_source,adb && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18d1
    write /sys/class/android_usb/android0/idProduct 2d03
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/devices/virtual/android_usb/android0/port_mode 22
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

# USB and audio accessory configuration
on property:sys.usb.config=accessory,audio_source && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18d1
    write /sys/class/android_usb/android0/idProduct 2d04
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/devices/virtual/android_usb/android0/port_mode 23
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# USB and audio accessory configuration, with adb
on property:sys.usb.config=accessory,audio_source,adb && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18d1
    write /sys/class/android_usb/android0/idProduct 2d05
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/devices/virtual/android_usb/android0/port_mode 24
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=manufacture,adb && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 107e
    write /sys/class/android_usb/f_mass_storage/luns sdcard
    write /sys/class/android_usb/f_mass_storage/lun/file none
    write /sys/class/android_usb/android0/f_hw_acm/hw_instances 3
    write /sys/class/android_usb/android0/functions hw_acm,mass_storage,adb,hdb
    write /sys/devices/virtual/android_usb/android0/port_mode 14
    write /sys/class/android_usb/android0/enable 1
    start adbd
    start hdbd
    setprop sys.usb.start_atdiag 1
    setprop sys.usb.start_modempcui 0
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=manufacture_sn,adb && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 107e
    write /sys/class/android_usb/f_mass_storage/luns sdcard
    write /sys/class/android_usb/f_mass_storage/lun/file none
    write /sys/class/android_usb/android0/f_hw_acm/hw_instances 3
    write /sys/class/android_usb/android0/functions hw_acm,mass_storage,adb,hdb
    write /sys/devices/virtual/android_usb/android0/port_mode 13
    write /sys/class/android_usb/android0/enable 1
    start adbd
    start hdbd
    setprop sys.usb.start_atdiag 1
    setprop sys.usb.start_modempcui 0
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=pcmodem1 && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 1031
    write /sys/class/android_usb/f_mass_storage/luns cdrom
    write /sys/class/android_usb/f_mass_storage/lun/file /data/cust/pcmodem/autorun.iso
    write /sys/class/android_usb/android0/functions mass_storage
    write /sys/devices/virtual/android_usb/android0/port_mode 16
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=pcmodem2 && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 107e
    write /sys/class/android_usb/f_mass_storage/luns cdrom
    write /sys/class/android_usb/f_mass_storage/lun/file /data/cust/pcmodem/autorun.iso
    write /sys/class/android_usb/android0/f_hw_acm/hw_instances 3
    write /sys/class/android_usb/android0/functions hw_acm,mass_storage
    write /sys/devices/virtual/android_usb/android0/port_mode 17
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.start_atdiag 0
    setprop sys.usb.start_modempcui 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=pcmodem2,adb && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 107e
    write /sys/class/android_usb/f_mass_storage/luns cdrom
    write /sys/class/android_usb/f_mass_storage/lun/file /data/cust/pcmodem/autorun.iso
    write /sys/class/android_usb/android0/f_hw_acm/hw_instances 3
    write /sys/class/android_usb/android0/functions hw_acm,mass_storage,adb
    write /sys/devices/virtual/android_usb/android0/port_mode 18
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.start_atdiag 0
    setprop sys.usb.start_modempcui 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=midi && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18d1
    write /sys/class/android_usb/android0/idProduct 4ee9
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=midi,adb && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18d1
    write /sys/class/android_usb/android0/idProduct 4ee9
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

 on property:sys.usb.start_atdiag=1
    start diagserver
    start atcmdserver

 on property:sys.usb.start_atdiag=0
    stop diagserver
    stop atcmdserver

 on property:sys.usb.start_modempcui=1
    start hw_modem_service
    start hw_pcui_service

 on property:sys.usb.start_modempcui=0
    stop hw_modem_service
    stop hw_pcui_service

# Used to set USB configuration at boot and to switch the configuration
# when changing the default configuration
on boot && property:sys.usb.set_default=false && property:persist.sys.usb.config=*
    setprop sys.usb.config ${persist.sys.usb.config}

on boot && property:sys.usb.set_default=true && property:persist.sys.usb.config=*
    setprop sys.usb.config "hisuite,mtp,mass_storage"

service hdbd /system/bin/hdbd --root_seclabel=u:r:su:s0
    class core
    socket hdbd stream 660 system system
    disabled
    seclabel u:r:adbd:s0

#
# USB type C
#

# USB mode changes
on property:sys.usb.typec.mode=dfp
    write /sys/class/dual_role_usb/otg_default/mode ${sys.usb.typec.mode}
    setprop sys.usb.typec.state ${sys.usb.typec.mode}

on property:sys.usb.typec.mode=ufp
    write /sys/class/dual_role_usb/otg_default/mode ${sys.usb.typec.mode}
    setprop sys.usb.typec.state ${sys.usb.typec.mode}

# USB data role changes
on property:sys.usb.typec.data_role=device
    write /sys/class/dual_role_usb/otg_default/data_role ${sys.usb.typec.data_role}
    setprop sys.usb.typec.state ${sys.usb.typec.data_role}

on property:sys.usb.typec.data_role=host
    write /sys/class/dual_role_usb/otg_default/data_role ${sys.usb.typec.data_role}
    setprop sys.usb.typec.state ${sys.usb.typec.data_role}

# USB power role changes
on property:sys.usb.typec.power_role=source
    write /sys/class/dual_role_usb/otg_default/power_role ${sys.usb.typec.power_role}
    setprop sys.usb.typec.state ${sys.usb.typec.power_role}

on property:sys.usb.typec.power_role=sink
    write /sys/class/dual_role_usb/otg_default/power_role ${sys.usb.typec.power_role}
    setprop sys.usb.typec.state ${sys.usb.typec.power_role}
