.unresolved {
	background-color: skyblue;
}

.noTemplate {
	background-color: yellow;
}

.base {
	background-color: #ffffff;
}

.nested0 {
	margin-top: 1em;
}

.p {
	margin-top: 1em;
}

.figcap {
	font-style: italic;
}

.figdesc {
	font-style: normal;
}

.figborder {
	border-style: solid;
	padding-left: 3px;
	border-width: 2px;
	padding-right: 3px;
	margin-top: 1em;
	border-color: Silver;
}

.figsides {
	border-left: 2px solid;
	padding-left: 3px;
	border-right: 2px solid;
	padding-right: 3px;
	margin-top: 1em;
	border-color: Silver;
}

.figtop {
	border-top: 2px solid;
	margin-top: 1em;
	border-color: Silver;
}

.figbottom {
	border-bottom: 2px solid;
	border-color: Silver;
}

.figtopbot {
	border-top: 2px solid;
	border-bottom: 2px solid;
	margin-top: 1em;
	border-color: Silver;
}

.ullinks {
	list-style-type: none;
}

.ulchildlink {
	margin-top: 1em;
	margin-bottom: 1em;
}

.olchildlink {
	margin-top: 1em;
	margin-bottom: 1em;
}

.linklist {
	margin-top: 1em;
	margin-bottom: 1em;
}

.linklistwithchild {
	margin-top: 1em;
	margin-right: 1.5em;
	margin-bottom: 1em;
}

.sublinklist {
	margin-top: 1em;
	margin-right: 1.5em;
	margin-bottom: 1em;
}

.relconcepts {
	margin-top: 1em;
	margin-bottom: 1em;
}

.reltasks {
	margin-top: 1em;
	margin-bottom: 1em;
}

.relref {
	margin-top: 1em;
	margin-bottom: 1em;
}

.relinfo {
	margin-top: 1em;
	margin-bottom: 1em;
}

.breadcrumb {
	font-size: smaller;
	margin-bottom: 1em;
}

.prereq {
	margin-right: 20px;
}

.topictitle1 {
	margin-top: 0;
	margin-bottom: .1em;
	font-size: 1.34em;
}

.topictitle2 {
	margin-top: 1pc;
	margin-bottom: .45em;
	font-size: 1.17em;
}

.topictitle3 {
	margin-top: 1pc;
	margin-bottom: .17em;
	font-size: 1.17em;
	font-weight: bold;
}

.topictitle4 {
	margin-top: .83em;
	font-size: 1.17em;
	font-weight: bold;
}

.topictitle5 {
	font-size: 1.17em;
	font-weight: bold;
}

.topictitle6 {
	font-size: 1.17em;
	font-style: italic;
}

.sectiontitle {
	margin-top: 1em;
	margin-bottom: 0;
	color: black;
	font-size: 1.17em;
	font-weight: bold;
}

.section {
	margin-top: 1em;
	margin-bottom: 1em;
}

.example {
	margin-top: 1em;
	margin-bottom: 1em;
}

.note {
	margin-top: 1em;
	margin-bottom: 1em;
}

.notetitle {
	font-weight: bold;
}

.notelisttitle {
	font-weight: bold;
}

.tip {
	margin-top: 1em;
	margin-bottom: 1em;
}

.tiptitle {
	font-weight: bold;
}

.fastpath {
	margin-top: 1em;
	margin-bottom: 1em;
}

.fastpathtitle {
	font-weight: bold;
}

.important {
	margin-top: 1em;
	margin-bottom: 1em;
}

.importanttitle {
	font-weight: bold;
}

.remember {
	margin-top: 1em;
	margin-bottom: 1em;
}

.remembertitle {
	font-weight: bold;
}

.restriction {
	margin-top: 1em;
	margin-bottom: 1em;
}

.restrictiontitle {
	font-weight: bold;
}

.attention {
	margin-top: 1em;
	margin-bottom: 1em;
}

.attentiontitle {
	font-weight: bold;
}

.dangertitle {
	font-weight: bold;
}

.danger {
	margin-top: 1em;
	margin-bottom: 1em;
}

.cautiontitle {
	font-weight: bold;
}

.caution {
	font-weight: bold;
	margin-bottom: 1em;
}

ul.simple {
	list-style-type: none;
}

.firstcol {
	font-weight: bold;
}

.bold {
	font-weight: bold;
}

.boldItalic {
	font-weight: bold;
	font-style: italic;
}

.italic {
	font-style: italic;
}

.underlined {
	text-decoration: underline;
}

.uicontrol {
	font-weight: bold;
}

.parmname {
	font-weight: bold;
}

.var {
	font-style: italic;
}

.shortcut {
	text-decoration: underline;
}

.dlterm {
	font-weight: bold;
}

.dltermexpand {
	font-weight: bold;
	margin-top: 1em;
}

*[compact="yes"]>li {
	margin-top: 0;
}

*[compact="no"]>li {
	margin-top: .53em;
}

.liexpand {
	margin-top: 1em;
	margin-bottom: 1em;
}

.sliexpand {
	margin-top: 1em;
	margin-bottom: 1em;
}

.dlexpand {
	margin-top: 1em;
	margin-bottom: 1em;
}

.ddexpand {
	margin-top: 1em;
	margin-bottom: 1em;
}

.stepexpand {
	margin-top: 1em;
	margin-bottom: 1em;
}

.substepexpand {
	margin-top: 1em;
	margin-bottom: 1em;
}

div.imageleft {
	text-align: left;
}

div.imagecenter {
	text-align: center;
}

div.imageright {
	text-align: right;
}

div.imagejustify {
	text-align: justify;
}

.cellrowborder {
	border-right: none;
	border-top: none;
	border-left: solid 1px;
	border-bottom: solid 1px;
}

.row-nocellborder {
	border-left: none;
	border-right: none;
	border-top: none;
	border-left: hidden;
	border-bottom: solid 1px;
}

.cell-norowborder {
	border-top: none;
	border-bottom: none;
	border-right: none;
	border-bottom: hidden;
	border-left: solid 1px;
}

.nocellnorowborder {
	border: none;
	border-left: hidden;
	border-bottom: hidden;
}

pre.screen {
	padding: 5px 5px 5px 5px;
	border: outset;
	background-color: #CCCCCC;
	margin-top: 2px;
	margin-bottom: 2px;
	white-space: pre;
}