html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {margin:0;padding:0;outline:none;vertical-align:baseline;}
body {
	font-size:14px;
	-webkit-user-select: none; 
	-webkit-text-size-adjust: 100%;
	word-wrap: break-word;
	line-height:1.5;
	min-width:320px;
	background-color:#F7F7F7;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-family:"方正兰亭准黑_GBK",Droid Sans,Droid Sans Fallback,Roboto,STHeiti,SimHei,Hei;
	color:rgba(0,0,0,0.85);
}

a{color:#007AF4;text-decoration:underline;-webkit-tap-highlight-color: rgba(10,157,205,0.6);}
.pink a{-webkit-tap-highlight-color: rgba(224,90,109,0.6);}
.white a{-webkit-tap-highlight-color: rgba(158,120,55,0.6);}
.taste a{-webkit-tap-highlight-color: rgba(220,120,50,0.8);}

h1, h2, h3, h4, h5, h6{font-weight:normal;}
img{border:0;max-width:100%;}  
table{border-collapse:collapse;border-spacing:0;width:99%;word-wrap:break-word;word-break:break-all;}
ul{padding-right:28px;margin-bottom:3%;margin-right:8px}
ol ul{margin-right:0px;}
ul.ullinks, 
ul.gd-list{list-style:none;padding:0;margin:0;}

body{}
.dbh-header{width:100%;background-color:#D9D9D9;border-bottom:2px solid #B0B0B0;display:none;}

.guide-cont, 
#jd-content{box-shadow:none;margin:0;padding:12px 16px;}
ul.ullinks{margin-top:-12px;}
#jd-content1{padding:0 16px 12px;}
#jd-content1 .g-idx a,
.ulchildlink a,
.g-faq a{color:rgba(0,0,0,0.85);text-decoration:none;display:block;word-wrap:break-word;word-break:break-all; line-height:1.2;}
.ulchildlink br{display:none;}

.gd-list > li,
.ulchildlink{border-bottom:1px solid #C2C2C2;word-wrap:break-word;word-break:break-all;}
.ulchildlink a,
.g-faq a{padding:13px 8px 11px;line-height:24px;min-height:24px;}
.gd-list > li:last-child,
.ulchildlink:last-child{}
.gl-img{vertical-align:middle;width:32px;height:32px;margin-right:2%;}

.guide-cont, 
#jd-content,
#jd-content1,
.gd-list,
#modNav span,
.ullinks,
.shortdesc,
.g-idx a,
.sectiontitle,
.ulchildlink a,
.gd-list a,
.g-faq a,
.note,
.note p,
li,
li span,
li a,
li strong{font-size:14px;}

.row-nocellborder img,
.uicontrol img,
.notespanimage img{height:20px;}

#jd-content img{vertical-align:text-bottom;}
.g-idx li span{vertical-align:middle;}

td{vertical-align:middle;text-align:right;padding:2%;}
.imagecenter{text-align:center;}
.imagecenter img{max-width:88%;}
#defimageiconnote{}
.nocellnorowborder img{width:88%;}
#jd-content ol{padding-right:22px;}
#jd-content1 .g-idx a{padding:8px;}
#jd-content .note p{margin-bottom:0;}

div.hr,
div.hrnm{border-top:1px solid #C2C2C2;width:100%;height:2px;}
div.hr{margin:2.5% 0;}

.sectiontitle,
#jd-content p,
ol,
table{margin:0 8px 3% 8px;padding-top:0;}
.note{margin:0 0px 3% 0px;padding:0em;overflow:hidden; }
.note > span{float:right;margin-right:6px;}
li .note > span{margin-right:0px;}
.note > p{padding-right:28px;}
.note > ol{margin-right:8px;}
.note > ul{margin-right:8px;}

.pink h2{color:#e05a6d; border-color:#e05a6d;}
.white h2{color:#9e7837; border-color:#9e7837;}
.taste h2{color:#dc7832; border-color:#dc7832;}
.pink h2.sectiontitle,
.white h2.sectiontitle,
.taste h2.sectiontitle{color:rgba(0,0,0,0.85);}
.page-btn {
    display: block;
    margin: 28px;
    padding:15px 0;
	 background-color: #fafafa;
    border: 1px solid #ccc;
	 border-radius: 10px;
	 text-align: center;
	 color: rgba(0, 0, 0, 0.85);
	 text-decoration:none;
	 font-size:14px;
	 font-family:"方正兰亭准黑_GBK",Droid Sans,Droid Sans Fallback;
}