#slider
{ 
  max-width:1920px;
  margin:0 auto; 
  margin-top:30px; 
  margin-bottom:30px; 
}
.swipe 
{
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap 
{
  overflow: hidden;
  position: relative;
}
.swipe-wrap > .wrap 
{
  float:left;
  width:100%;
  position: relative;
}