service cameraserver /system/bin/cameraserver
    class main
    user cameraserver
    group audio camera input drmrpc system
    ioprio rt 4
    writepid /dev/cpuset/camera-daemon/tasks /dev/stune/top-app/tasks /dev/blkio/foreground/tasks
    rlimit rtprio 10 10
