service drm /system/bin/drmserver
    class main
    user drm
    group drm system inet drmrpc readproc media_rw sdcard_rw
    writepid /dev/cpuset/foreground/tasks /dev/stune/foreground/tasks /dev/blkio/foreground/tasks
