service keystore /system/bin/keystore /data/misc/keystore
    class main
    user keystore
    group keystore drmrpc readproc log
    writepid /dev/cpuset/foreground/tasks
    writepid /dev/cpuset/foreground/tasks /dev/blkio/foreground/tasks /dev/stune/foreground/tasks
