/*
 * Copyright (c) Huawei Technologies Co., Ltd. 2020-2020. All rights reserved.
 * Description: rendercomposer.rc
 * Author: g00481191
 * Create: 2020-05-10
 */

service rendercomposer /system/bin/rendercomposer
    class core animation main
    disabled
    user system
    group graphics drmrpc readproc
    capabilities SYS_NICE
on property:persist.sys.rendercomposer.enable=true
    mkdir /data/system/isurface-cache 0760 system graphics
    start rendercomposer
on property:persist.sys.rendercomposer.enable=false
    stop rendercomposer
